body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(28, 28, 28);
    
}

section{
    display: flex;
    width: 1200px;
    height: 600px;

}

section div{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    transition: 500ms ease;
    opacity: 0.8;
    
}
.uzui{

    height: 100%;
    width: 100%;
    background-image: url(imagenes/1218247.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inosuke{

    height: 100%;
    width: 100%;
    background-image: url(imagenes/1199857.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tanjiro{

    height: 100%;
    width: 100%;
    background-image: url(imagenes/GYzhrt.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nezuko{

    height: 100%;
    width: 100%;
    background-image: url(imagenes/hitokiri-nguyen-crop.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zenitsu{

    height: 100%;
    width: 100%;
    background-image: url(imagenes/1040994.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

section div:hover{
    width: 300%;
    opacity: 1 ;
    filter: contrast(150%);
}

button{
    margin-top: 500px;
    width: 5rem;
    height: 2rem;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: 2px solid red;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover{
    box-shadow: 0px 0px 15px red;
    
}